<li class="flex items-center my-2 ml-4 text-sm text-secondary">
  {{#if model}}
    {{#link-to
      route
      model
      class="no-underline hover:underline"
      activeClass="text-primary font-medium"
      data-test-id="nav-item"
      data-test-label=labelzz
    }}
      {{@label}}
    {{/link-to}}
  {{else}}
    {{#link-to
      route
      class="no-underline hover:underline"
      activeClass="text-primary font-medium"
      data-test-id="nav-item"
      data-test-label=label
    }}
      {{@label}}
    {{/link-to}}
  {{/if}}
</li>