<div data-current-page-index-target>
  {{yield}}
  {{#if editCurrentPageUrl}}
    <div class="mt-16 mb-8" data-test-edit-page-link>
      <a
        href={{editCurrentPageUrl}}
        class="transition text-gray-8 opacity-50 text-xs
        hover:opacity-75 no-underline border-b border-gray hover:border-gray-8"
      >
        Edit this page
      </a>
    </div>
  {{/if}}
</div>
<div class="mt-16 pb-16 border-t border-gray-1 pt-4 flex">
  <div class="w-1/2">
    {{#if docsRoutes.previous}}
      <div class="text-xs text-gray-5">
        Previous
      </div>
      {{#link-to
        params=docsRoutes.previous.route
        class="text-gray-8 text-large-4 font-light no-underline
        border-b border-gray hover:border-gray-8 transition"
      }}
        {{docsRoutes.previous.label}}
      {{/link-to}}
    {{/if}}
  </div>
  <div class="w-1/2 text-right" data-test-next-link>
    {{#if docsRoutes.next}}
      <div class="text-xs text-gray-5">
        Next
      </div>
      {{#link-to
        params=docsRoutes.next.route
        class="text-gray-8 text-large-4 font-light no-underline
        border-b border-gray hover:border-gray-8 transition"
      }}
        {{docsRoutes.next.label}}
      {{/link-to}}
    {{/if}}
  </div>
</div>