// Global settings
$site-container: 1400px;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tailwind/components/docs-brand-colors';
@import './tailwind/components/docs-btn';
@import './tailwind/components/docs-container';
@import './tailwind/components/docs-md';

@import './utilities/masks';
@import './utilities/nudge';

@import './components/docs-header-search-box';
@import './components/docs-hero';
@import './components/docs-keyboard-shortcuts';
@import './components/docs-viewer-x-current-page-index';
@import './components/docs-viewer-x-nav';
@import './components/modal-dialog';

@import 'syntax';

.docs-md {
  -webkit-font-smoothing: antialiased;
  > ol {
    margin-bottom: var(--spacing-4);
  }
  > p {
    margin-bottom: var(--spacing-4);
    > code {
      padding: 0 var(--spacing-1);
      background-color: var(--gray-1);
    }
  }
  > ul {
    font-size: var(--text-sm);
    margin-bottom: var(--spacing-4);
    list-style: disc;

    padding-left: var(--spacing-4);
    > li {
      margin-bottom: var(--spacing-2);
    }
    > li > ul {
      margin-top: var(--spacing-2);
    }
    > ul {
      list-style: circle;
      > ul {
        list-style: decimal;
      }
    }
  }
  > aside {
    font-size: 0.875rem;
    font-style: italic;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    background-color: #f8fafc;
  }
  &:not(pre) {
    > code {
      padding-right: var(--spacing-1);
      background-color: #f1f5f8;

      padding-left: var(--spacing-1);
    }
  }
}
.md__h1 {
  margin-bottom: var(--spacing-6);
  text-decoration: none;
  a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
  }
}
.md__h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: var(--leading-5);
  margin-bottom: var(--spacing-4);
  padding-top: var(--spacing-8);
  text-decoration: none;
  a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
  }
}
.md__h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  line-height: var(--leading-6);
  margin-bottom: var(--spacing-1);
  padding-top: var(--spacing-4);
  a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
  }
}
.bg-code-base {
  background: #282c34;
}
.md__code {
  font-size: var(--text-sm);
  overflow-x: scroll;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  padding: var(--spacing-3) var(--spacing-4);
  color: var(--gray-1);
  border-radius: var(--rounded);
  background: #282c34;

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.md__hr {
  height: 1px;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 1px;
}
.md__blockquote {
  color: var(--gray-5);
  border-left-width: 4px;

  padding-left: var(--spacing-8);
}
.md__a {
  text-decoration: none;
  color: var(--primary);
  &:focus {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}

body {
  color: var(--text-body);
}

pre {
  margin: 0;
}
