{{hero}}
<div class="container docs-md">
  <section class="max-w-md pb-8 mx-auto">
    {{index/index-content}}
    <div class="my-16 text-right">
      {{#link-to
        "docs"
        class="px-4 py-2 text-white no-underline rounded bg-gray-8 hover:bg-black"
      }}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>